.navbar-nav a:hover {
    color: lightgray !important;
}
.dashboard{
    padding-bottom: 150px;
    padding-top: 80px;
}
.bg_work {
    background-image: url('../assets/intro.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 20%; */
    /* padding: 120px !important; */
}

.intro_img {
    height: 95vh;
    position: relative;
}

.intro_text {
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.card {
    border-radius: 40px;
    overflow: hidden;
    border: 0;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06),
        0 2px 4px rgba(0, 0, 0, 0.07);
    transition: all 0.15s ease;
}

.card:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1),
        0 10px 8px rgba(0, 0, 0, 0.015);
}

.card-body .card-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
    font-size: 24px;
    color: #121212;
}

.card-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #4E4E4E;

}

.card .container {
    width: 88%;
    background: #F0EEF8;
    border-radius: 30px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container:hover>img {
    transform: scale(1.2);
}

.container img {
    /* padding: 75px;   */
    /* margin-top: -40px;
               margin-bottom: -40px; */
    transition: 0.4s ease;
    cursor: pointer;
    height: 40px;
    width: 40px;

}

.btn {
    background: #EEECF7;
    border: 0;
    color: #5535F0;
    width: 98%;
    font-weight: bold;
    border-radius: 20px;
    height: 40px;
    transition: all 0.2s ease;
}

.btn:hover {
    background: #441CFF;
}

.btn:focus {
    background: #441CFF;
    outline: 0;
}


/* footer */
.bg-footer {
    background-color: #33383c;
    padding: 50px 0 30px;
}

.footer-heading {
    letter-spacing: 2px;
    font-size: 29px;
}

.footer-link a {
    color: white;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

.footer-link a:hover {
    color: #1bbc9b;
}

.contact-info {
    color: white;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.facebook {
    background-color: #4e71a8;
    color: #ffffff;
}

.twitter {
    background-color: #55acee;
    color: #ffffff;
}

.google {
    background-color: #d6492f;
    color: #ffffff;
}

.apple {
    background-color: #424041;
    color: #ffffff;
}

.footer-alt {
    color: white;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #1bbc9b;
}

.bg-footer_img {
    background-image: url('../assets/footer_bg1.jpg');
    width: 100%;
    /* position: absolute;
    bottom: 0px; */
    background-repeat: no-repeat;
    background-position: center center;
}



.back {
    background-image: url('../assets/intro.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.active {
    /* border-bottom: 2px solid linear-gradient(248.86deg, #B6509E 10.51%, #2EBAC6 93.41%) !important; */
    border-bottom: 2px solid #B6509E;
    /* margin-top: 10px; */
    /* padding: 10px; */
}

.btn_mask {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    min-width: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    border-radius: 4px;
    font-family: Inter, Arial;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(235, 235, 237, 0.12);
    background-color: rgb(56, 61, 81);
    padding: 5px 8px;
}

.btn_mask:hover {
    background-color: transparent;
}

.box {
    background-color: rgb(255, 255, 255);
    color: rgb(48, 53, 73);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 1px, rgba(0, 0, 0, 0.25) 0px 0px 1px;
    margin-top: 16px;
    border: 1px solid rgb(234, 235, 239);
}

.tab_btn {
    text-decoration: none;
    background-color: rgba(56, 61, 81, 0.04);
    border: 1px solid rgb(56, 61, 81);
    letter-spacing: 0.009375rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgb(234, 235, 239);
    color: rgb(56, 61, 81);
    box-shadow: none;
    border-radius: 4px;
    font-family: Inter, Arial;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 0.875rem;
    padding: 6px 12px;
    background: rgb(247, 247, 249);
    width: 134px;
}

.tab_btn:hover {
    background-color: transparent;
}

th {
    font-size: 12px;
}

.icon_img {
    height: 31px;
    width: 31px;
}

td {
    font-size: 15px;
    font-weight: bold;
}

.mobile_btn {
    display: none;
}

.dekstop_btn {
    display: block;
}

@media only screen and (max-width: 425px) {
    .mobile_btn {
        display: block;
    }

    .dekstop_btn {
        display: none;
    }
}


.box2{
    background-color: #BFBFBF;
    padding:1px 1px;
    border-radius: 10px;
  
  }
  .box2 li{
    background-image: -webkit-linear-gradient(top, #bbb, #eee); 
      background-image:    -moz-linear-gradient(top, #bbb, #eee);
      background-image:     -ms-linear-gradient(top, #bbb, #eee);
      background-image:      -o-linear-gradient(top, #bbb, #eee);
  }
  .box2 h5{
     color: lightcoral;
     margin-top: 5px;
     font-size: 30px;
  }
  .main p{
    font-size: 10px;
  }
  
  
  
  #countdown{
    width: 465px;
    height: 112px;
    text-align: center;
    background: #222;
    background-image: -o-linear-gradient(top, #222, #333, #333, #222);
    border: 1px solid #111;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    /* margin: auto; */
    padding: 24px 0;
    position: absolute;
    margin-left: 14px;
  }
  
  #countdown:before{
      content:"";
      width: 8px;
      height: 65px;
      background: #444;
      background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
      background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
      background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
      background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
      border: 1px solid #111;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      display: block;
      position: absolute;
      top: 25px; left: -10px;
  }
  
  #countdown:after{
      content:"";
      width: 8px;
      height: 65px;
      background: #444;
      background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
      background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
      background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
      background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
      border: 1px solid #111;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      display: block;
      position: absolute;
      top: 25px; right: -10px;
  }
  
  #countdown #tiles{
      position: relative;
      z-index: 1;
  }
  
  #countdown #tiles > span{
      width: 92px;
      max-width: 92px;
      font: bold 48px 'Droid Sans', Arial, sans-serif;
      text-align: center;
      color: #111;
      background-color: #ddd;
      background-image: -webkit-linear-gradient(top, #bbb, #eee); 
      background-image:    -moz-linear-gradient(top, #bbb, #eee);
      background-image:     -ms-linear-gradient(top, #bbb, #eee);
      background-image:      -o-linear-gradient(top, #bbb, #eee);
      border-top: 1px solid #fff;
      border-radius: 3px;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
      margin: 0 7px;
      padding: 18px 0;
      display: inline-block;
      position: relative;
  }
  
  #countdown #tiles > span:before{
      content:"";
      width: 100%;
      height: 13px;
      background: #111;
      display: block;
      padding: 0 3px;
      position: absolute;
      top: 41%; left: -3px;
      z-index: -1;
  }
  
  #countdown #tiles > span:after{
      content:"";
      width: 100%;
      height: 1px;
      background: #eee;
      border-top: 1px solid #333;
      display: block;
      position: absolute;
      top: 48%; left: 0;
  }
  
  #countdown .labels{
      width: 100%;
      height: 25px;
      text-align: center;
      position: absolute;
      bottom: 8px;
  }
  
  #countdown .labels li{
      width: 102px;
      font: bold 15px 'Droid Sans', Arial, sans-serif;
      color: #f47321;
      text-shadow: 1px 1px 0px #000;
      text-align: center;
      text-transform: uppercase;
      display: inline-block;
    font-size: 12px;
  }
  .font li{
    font-size: 35px;
    text-decoration: none;
    list-style: none;
    margin-left: 46px;
    width: 57px;
    font-weight: 600;
  }
  .new_box{
    background: #222;
    margin-top: 20px;
    /* padding: 20px; */
  
  }
  .timer li{
    list-style: none;
    margin-left: 8px;
  }
  .btn_height{
    margin-left: 20px;
    margin-top: 8px;
    /* padding: 10px; */
    /* height: 70px; */
    width: 100px;
  }



  .new_box h5{
     font-size: 30px;
     font-weight: bold;
     width: 68px;
     max-width: 92px;
     font: bold 48px 'Droid Sans', Arial, sans-serif;
     text-align: center;
     color: #111;
     background-color: #ddd;
     background-image: -webkit-linear-gradient(top, #bbb, #eee); 
     background-image:    -moz-linear-gradient(top, #bbb, #eee);
     background-image:     -ms-linear-gradient(top, #bbb, #eee);
     background-image:      -o-linear-gradient(top, #bbb, #eee);
     border-top: 1px solid #fff;
     border-radius: 3px;
     box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
     margin: 0 7px;
     /* padding: 18px 0; */
     display: inline-block;
     position: relative;
  }
  .new_box p{
    width: 102px;
    font: bold 15px 'Droid Sans', Arial, sans-serif;
    color: #f47321;
    text-shadow: 1px 1px 0px #000;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
  font-size: 12px;
  }
  .new_box_2{
    background: #222;
    margin-top: 20px;
  }
  .new_box_2 p{
    /* width: 102px; */
    font: bold 15px 'Droid Sans', Arial, sans-serif;
    color: #f47321;
    text-shadow: 1px 1px 0px #000;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
  font-size: 12px;
  }
  .text-truncate{
    max-width: 250px !important;
  }

  @media screen and (max-width: 600px) {
    .new_box h5 {
        font-size: 20px !important;
        font-weight: bold !important;
        width: 40px;
        max-width: 92px;
        font: bold 48px 'Droid Sans', Arial, sans-serif;
        text-align: center;
        color: #111;
        background-color: #ddd;
        background-image: -o-linear-gradient(top, #bbb, #eee);
        border-top: 1px solid #fff;
        border-radius: 3px;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
        margin: 0 7px;
        /* padding: 18px 0; */
        display: inline-block;
        position: relative;
    }
    .new_box p {
        width: 83px;
        font: bold 15px 'Droid Sans', Arial, sans-serif;
        color: #f47321;
        text-shadow: 1px 1px 0px #000;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        font-size: 12px;
    }
    .btn_height {
        margin-left: 0px;
        margin-top: 8px;
        /* padding: 10px; */
        /* height: 70px; */
        width: 100%;
    }
  }